Webrtcomm can't handle 100 Trying after sending MESSAGE

What happens is:
- Olympus sends MESSAGE 
- Olympus receives 100 Trying
- Message connector is [closed](https://github.com/RestComm/webrtcomm/blob/master/src/WebRTComm/PrivateJainSipMessageConnector.js#L217) after 100 Trying is handled and the whole flow is ruined (i.e. 407 Proxy Authentication Required is received but can no longer be handled)

Notice that in the 'regular' flow where no 100 Trying is sent, everything works fine, since the connector is closed after 407 is handled.

Before fixing this make sure that 100 Trying is legit at that point

RFC3261, section 8.2.6.1 says that UAS should not issue a provisional response for a not INVITE  request, but since Restcomm complies with the RFC there is no point in fixing that until it breaks for some other server
